body {
  background-color: #D32F2F;
}

.pokedex {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px !important;
  max-width: 350px;
  min-height: 50px;
  transition: min-height 1s;
}

.anim-fade-in {
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
